@charset "UTF-8";

#container{
	position: relative;
	top:100px;
	left:150px;
	width:1000px;
}

#title{
	position: relative;
}

#TitleImage{
	width: 950px;
	height: 70px;
}


#info{
	position: relative;
	margin-top: 5px;
	width: 950px;
	height: 240px;
}

#LeftInfo{	
	float: left;
	width: 250px;
	height:240px;
	margin-left: 20px;
	margin-right: 50px;
	margin-top : 10px;
	font-size: 40px;
	font-weight: bold;
}

#CenterInfo{	
	witdh: 700px;
}
#name{
	margin-top: 30px;
}


#name, #id, #pw , #passOk{
	margin-bottom: 10px;
	width: 200px;
	height: 20px;
}

#line{
	border-bottom: 2px solid gray;
	left : 20px;		
	width: 800px;
	height: 20px;
}

#bottom{
	width:  700px;
	position: absolute;
	left: 250px;
}

#bottomStrong{
	position: relative;
	font-size : 15px;
	color : tomato;
	left: 10px;
	top: 10px;
	bottom: 10; 	
}

#button{
	position: relative;
	margin-top : 40px;
	left: 50px;
}

